/*custom stuff*/
/*@font-face {*/
/*  font-family: "Inter";*/
/*  src: url("../../public/fonts/Inter/static/Inter-Regular.ttf");*/
/*}*/

:root {
  /* Color palette */
  --color-primary: #fff;
  --color-accent: #8DDBCB;
  --color-emphasis: #2e4d48;
  --color-headings: #fff;
  --color-body: #fff;
  --color-border: #ccc;
  --color-border-2: #808080;
  /*bg-gradient-to-bl from-blue-900 to-pink-800*/
  --color-background: #222;
  --color-background-darker: #000;
  --add-icon-color: #1ec11e;
  --add-icon-color-muted: #179517;
  --color-accent-2: #007bff;
  --color-accent-2-muted: #0056b3;
  --color-destructive: #e12020;
  --color-destructive-2: #971515;
  --color-pending: #cea710;
  --color-selection-bg: #f48112;
  --color-selection-fg: #FAFAF9;
  /* ... */
  --vis-tooltip-background-color: none !important;
  --vis-tooltip-border-color: none !important;
  --vis-tooltip-text-color: none !important;
  --vis-tooltip-shadow-color: none !important;
  --vis-tooltip-backdrop-filter: none !important;
  --vis-tooltip-padding: none !important;

  --vis-primary-color: var(--primary);
  /* change to any hsl value you want */
  --vis-secondary-color: 160 81% 40%;
  --vis-text-color: var(--muted-foreground);

  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* TYPOGRAPHY */
::selection {
  background: var(--color-accent-2);
  color: var(--color-selection-fg);
}

html {
  /*font-size: 62.5%;*/

  /*background: var(--color-background-darker);*/
  /*background: linear-gradient(to bottom right, #4533f6, #992257);*/
}


body {
  /*min-height: 100vh;*/
  font-family: Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 1.6rem;
  line-height: 1.5;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}